<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670019445985-eeb4ok205ip02h3a049kg4j6ocf9g2ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670019445985-eeb4ok205ip02h3a049kg4j6ocf9g2ta</string>
	<key>API_KEY</key>
	<string>AIzaSyBqbmUozJsYqZGnQ0AofdaRrCwZbmbDbEk</string>
	<key>GCM_SENDER_ID</key>
	<string>670019445985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.accountable</string>
	<key>PROJECT_ID</key>
	<string>accountable-bc972</string>
	<key>STORAGE_BUCKET</key>
	<string>accountable-bc972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670019445985:ios:9bc33d635b9879149fc3a0</string>
</dict>
</plist>